@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.contact-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

input,  textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: #f5f5f5;
    font-size: 1.1em;
}

button{
    padding: 15px;
    background-color:#47aad9;
    color: #fff;
    font-size: 1.1em;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

ul#contact.social {
   display: flex;
   justify-content: center;
   align-content: center;
   margin-bottom: -100px;
   margin-left: 200px;
   list-style: none;
  
}
.info{
    display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -95px;
  
  /* margin-bottom: 5px; */
}
.info li
{
  list-style: none;
}
.info li a
{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
}

.contact-form{
    margin-top: 100px;
    
}
  /* filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
  
}
.info li a:hover
{
  transform: scale(0.5) translateY(-15px);
} */


